.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #000000;
  padding: 10px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1110px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1266px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 869px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 44px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 676px);
  top: calc(50% - 216px);
  width: 2105px;
  height: 88px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 676px);
  top: calc(50% - 111px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 676px);
  top: calc(50% - 0px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 676px);
  top: calc(50% - -75px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 676px);
  top: calc(50% - -150px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
