.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #000000;
  padding: 10px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1110px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1266px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 869px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 44px;
  top: 44px;
  width: 361px;
  height: 72px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - 273px);
  width: 2105px;
  height: 88px;
}
.professor-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - 168px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ta-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - 8px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - 110px);
  width: 1344px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - -93px);
  width: 1344px;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
